<h3>Edit Student</h3>

<%= form_for(@student) do |f| %>
<labe> Student's First Name:</label> <br>
  <%= f.text_field :first_name %> <br>
<label>Studen't Last Name: </label><br>
  <%= f.text_field :last_name %> <br>
  <%= f.submit %>
<% end %> -->
