<h1>School Class Show</h1>

<h2>Class: <%= @schoolclass.title %> Room: <%= @schoolclass.room_number %></h2>

<%= link_to "School Class Index", school_classes_path %>

<%= link_to "Edit School Class", edit_school_class_path %>
